fine_tune_llama2_model/__pycache__/
fine_tune_llama2_model/model/Atom-7B/
fine_tune_llama2_model/model/rule_extraction/*
!fine_tune_llama2_model/model/rule_extraction/README.md
fine_tune_llama2_model/model/rule_filtering/*
!fine_tune_llama2_model/model/rule_filtering/README.md
fine_tune_llama2_model/output/*
!fine_tune_llama2_model/output/README.md
lora_train_llama2_model/__pycache__/
lora_train_llama2_model/model/Atom-7B/
lora_train_llama2_model/model/rule_extraction/*
!lora_train_llama2_model/model/rule_extraction/README.md
lora_train_llama2_model/model/rule_filtering/*
!lora_train_llama2_model/model/rule_filtering/README.md
lora_train_llama2_model/output/*
!lora_train_llama2_model/output/README.md
specification_generation/__pycache__/
Test_Scenario.egg-info/
train_rule_extraction_model/__pycache__/
train_rule_extraction_model/model/*
!train_rule_extraction_model/model/README.md
train_rule_extraction_model/output/*
!train_rule_extraction_model/output/README.md
train_rule_filtering_model/__pycache__/
train_rule_filtering_model/model/*
!train_rule_filtering_model/model/README.md
train_rule_filtering_model/output/*
!train_rule_filtering_model/output/README.md
transfer/__pycache__/
